<body>
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Sign In</h5>
          <form  class="form-signin" [formGroup]="form" (ngSubmit)="formSubmitted()">
            <div class="form-label-group">
              <input type="text" id="inputEmail" class="form-control" formControlName="userName">
              <label for="inputEmail">userName</label>
            </div>
            <div class="form-label-group">
              <input type="text" id="inputPassword" class="form-control" formControlName="password" >
              <label for="inputPassword">Password</label>
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="message.description">
              {{message.description}}
            </div>
            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
            <hr class="my-4">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
