.app-add-movie-modal{
  .form-group{
    margin-bottom: 30px;
    width: 100%;
    label{
      flex-basis: 20%;
    }
    .text-muted{
      color: red !important;
    }
  }
  .modal-footer{
    width: 100%
  }
}
